<!DOCTYPE html>
<html lang="en">
<head>
	<title>Outdoor Activities in Charlotte</title>
	<% include partials/style.ejs%>
</head>
<body>
	<div class="container">
        <% let path="/" %>
        <% include top_header.ejs%>
		<main>
			<div class="ui two column grid">
			<div id="div_head" class="ui column container2">
				<% include partials/placeholder.ejs%>
				<div>
					<h1>What is your next adventure?</h1>
				</div>
				<div>
					<p>
							We’ve all been pursuing our dreams, building a family, and living a life. But there is more to this. Nature is awaiting and we want you to know that! Join us for chasing the thrills of life!
					</p>
				</div>
			</div>
			</div>
		</main>
			<footer>
				<% include partials/footer.ejs%>
			</footer>
	</div>

</body>
</html>
